{"openapi":"3.0.4","info":{"title":"Queue OpenAPI for fal-ai/kling-video/v3/4k/text-to-video","version":"1.0.0","description":"The OpenAPI schema for the fal-ai/kling-video/v3/4k/text-to-video queue.","x-fal-metadata":{"endpointId":"fal-ai/kling-video/v3/4k/text-to-video","category":"text-to-video","thumbnailUrl":"https://v3b.fal.media/files/b/0a970c17/m0f2ooX6jkF2UDw8yeU7w_0478d228dd9b4f58b26d5c833644465d.jpg","playgroundUrl":"https://fal.ai/models/fal-ai/kling-video/v3/4k/text-to-video","documentationUrl":"https://fal.ai/models/fal-ai/kling-video/v3/4k/text-to-video/api","about":"Kling V3 (4k) Text to Video API.\n\nThe Kling V3 model with 4k resolution output. Only the Singapore server\nsupports this mode."}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"Fal Key"}},"schemas":{"QueueStatus":{"type":"object","properties":{"status":{"type":"string","enum":["IN_QUEUE","IN_PROGRESS","COMPLETED"]},"request_id":{"type":"string","description":"The request id."},"response_url":{"type":"string","description":"The response url."},"status_url":{"type":"string","description":"The status url."},"cancel_url":{"type":"string","description":"The cancel url."},"logs":{"type":"object","description":"The logs.","additionalProperties":true},"metrics":{"type":"object","description":"The metrics.","additionalProperties":true},"queue_position":{"type":"integer","description":"The queue position."}},"required":["status","request_id"]},"KlingVideoV34kTextToVideoInput":{"title":"TextToVideoV3_4kRequest","properties":{"duration":{"title":"Duration","enum":["3","4","5","6","7","8","9","10","11","12","13","14","15"],"default":"5","description":"The duration of the generated video in seconds","type":"string"},"cfg_scale":{"title":"Cfg Scale","maximum":1,"default":0.5,"minimum":0,"description":"\n            The CFG (Classifier Free Guidance) scale is a measure of how close you want\n            the model to stick to your prompt.\n        ","type":"number"},"negative_prompt":{"title":"Negative Prompt","default":"blur, distort, and low quality","maxLength":2500,"type":"string"},"generate_audio":{"title":"Generate Audio","default":true,"description":"Whether to generate native audio for the video. Supports Chinese and English voice output. Other languages are automatically translated to English. For English speech, use lowercase letters; for acronyms or proper nouns, use uppercase.","type":"boolean"},"shot_type":{"title":"Shot Type","enum":["customize","intelligent"],"default":"customize","description":"The type of multi-shot video generation. 'intelligent' lets the model automatically determine shot structure.","type":"string"},"prompt":{"anyOf":[{"maxLength":2500,"type":"string"},{"type":"null"}],"title":"Prompt","examples":["Close-up of glowing fireflies dancing in a dark forest at twilight. Soft bioluminescent particles float through the air. Shallow depth of field, bokeh lights in background. Magical atmosphere, gentle movement."],"description":"Text prompt for video generation. Either prompt or multi_prompt must be provided, but not both."},"multi_prompt":{"anyOf":[{"items":{"$ref":"#/components/schemas/KlingV3MultiPromptElement"},"type":"array"},{"type":"null"}],"title":"Multi Prompt","examples":[null],"description":"List of prompts for multi-shot video generation. If provided, overrides the single prompt and divides the video into multiple shots with specified prompts and durations."},"aspect_ratio":{"title":"Aspect Ratio","enum":["16:9","9:16","1:1"],"default":"16:9","description":"The aspect ratio of the generated video frame","type":"string"}},"x-fal-order-properties":["prompt","duration","multi_prompt","generate_audio","shot_type","aspect_ratio","negative_prompt","cfg_scale"],"type":"object"},"KlingVideoV34kTextToVideoOutput":{"title":"TextToVideoV3_4kOutput","properties":{"video":{"$ref":"#/components/schemas/File","examples":[{"file_size":8062911,"content_type":"video/mp4","file_name":"output.mp4","url":"https://storage.googleapis.com/falserverless/example_outputs/kling-v3/pro-t2v/out.mp4"}],"description":"The generated video"}},"required":["video"],"x-fal-order-properties":["video"],"type":"object"},"KlingV3MultiPromptElement":{"title":"KlingV3MultiPromptElement","properties":{"duration":{"title":"Duration","enum":["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15"],"default":"5","description":"The duration of this shot in seconds","type":"string"},"prompt":{"title":"Prompt","description":"The prompt for this shot.","type":"string"}},"required":["prompt"],"x-fal-order-properties":["prompt","duration"],"type":"object"},"File":{"title":"File","properties":{"file_size":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"File Size","examples":[4404019],"description":"The size of the file in bytes."},"content_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Content Type","examples":["image/png"],"description":"The mime type of the file."},"file_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"File Name","examples":["z9RV14K95DvU.png"],"description":"The name of the file. It will be auto-generated if not provided."},"url":{"title":"Url","description":"The URL where the file can be downloaded from.","type":"string"}},"required":["url"],"x-fal-order-properties":["url","content_type","file_name","file_size"],"type":"object"}}},"paths":{"/fal-ai/kling-video/v3/4k/text-to-video/requests/{request_id}/status":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}},{"name":"logs","in":"query","required":false,"schema":{"type":"number","description":"Whether to include logs (`1`) in the response or not (`0`)."}}],"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/kling-video/v3/4k/text-to-video/requests/{request_id}/cancel":{"put":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"The request was cancelled.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was cancelled successfully."}}}}}}}}},"/fal-ai/kling-video/v3/4k/text-to-video":{"post":{"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KlingVideoV34kTextToVideoInput"}}}},"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/kling-video/v3/4k/text-to-video/requests/{request_id}":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"Result of the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KlingVideoV34kTextToVideoOutput"}}}}}}}},"servers":[{"url":"https://queue.fal.run"}],"security":[{"apiKeyAuth":[]}]}